$design-orange: #ff7800;
$design-orange-background: #ff9c45;
$code-blue: #00a7f1;
$code-blue-background: #53beed;
$background-gray: #f0f2f5;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

.App {
  text-align: center;
}

.App-header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  color: white;
  position: absolute;
  z-index: 1;
}

.App-header:hover {
  cursor: pointer;
}

.App-header p {
  margin-left: 1em;
  margin-bottom: 0px;
}

header .heart-icon {
  width: 20px;
  margin: 0px 10px;
}

.ant-layout-footer .heart-icon {
  width: 15px;
  margin: 0px;
}

.landing-page {
  height: 100vh;
}
.section-title {
  font-size: 42px;
}

.landing-page {
  background-color: black;
  background-image: url("./img/code-background.png");
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#landing-page-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 0;
}
.landing-page h1 {
  width: 100%;
  z-index: 1;
  font-size: 7vh;
  color: white;
}

.project {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.recent-project {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.project-expand-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
  top: 0;
  z-index: 100;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.segregator {
  width: 20%;
  height: 300px;
  border-left: 8px solid $design-orange;
  border-right: 8px solid $code-blue;
  max-width: 200px;
  margin: auto;
}
.design-project,
.coding-project {
  width: 40%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 520px;
  transition: 0.5s;
  outline: none;
  position: relative;

  .more-projects-btn {
    border-radius: 50%;
    height: 120px;
    width: 110px;
    position: absolute;
    transition: 0.5s;
    box-shadow: $box-shadow;

    img {
      width: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    p {
      display: none;
    }
  }
  .more-projects-btn:hover {
    cursor: pointer;
    width: 160px;
    height: 160px;

    p {
      display: block;
      width: 100px;
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      font-weight: 600;
      color: white;
    }

    img {
      width: 25px;
      top: 75%;
    }
  }

  .ant-card-hoverable {
    cursor: default;
  }

  .project-wrapper {
    width: 100%;
    height: 100%;
    transition: 0.5s;

    a {
      color: white;
    }
  }

  .project-wrapper.extra {
    position: absolute;
  }
}

.design-project.expand,
.coding-project.expand {
  z-index: 100;

  .more-projects-btn {
    z-index: 100;
  }
}

.design-project.expand {
  .project-wrapper {
    background-color: $design-orange-background;
    transform: translateX(100%);
  }

  .project-wrapper.extra {
    left: 0px;
    top: 0px;
    transform: translateX(0);
  }
}

.coding-project.expand {
  .project-wrapper {
    background-color: $code-blue-background;
    transform: translateX(-100%);
  }

  .project-wrapper.extra {
    left: 0px;
    top: 0px;
    transform: translateX(0);
  }
}

.design-project {
  .more-projects-btn {
    left: -65px;
    background-color: $design-orange-background;

    img {
      right: 10px;
    }
  }

  .more-projects-btn:hover {
    background-color: $design-orange;

    p {
      right: 0px;
    }

    img {
      right: 40px;
    }
  }

  .ant-card.project-overview-card {
    margin: 30px 30px 30px auto;

    .hover-cover {
      background-color: #8b4900;
    }
  }

  .project-wrapper.extra {
    transform: translateX(-100%);
  }
}

.coding-project {
  .more-projects-btn {
    right: -65px;
    background-color: $code-blue-background;

    img {
      left: 10px;
    }
  }

  .more-projects-btn:hover {
    background-color: $code-blue;

    p {
      left: 0px;
    }

    img {
      left: 40px;
    }
  }

  .ant-card.project-overview-card {
    margin: 30px auto 30px 30px;

    .hover-cover {
      background-color: #045f87;
    }
  }

  .project-wrapper.extra {
    transform: translateX(100%);
  }
}

.ant-card.project-overview-card {
  width: 63%;
  min-width: 300px;

  .ant-card-cover {
    border-bottom: 1px solid #e8e8e8;
    position: relative;

    img {
      width: 100%;
    }

    .hover-cover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      color: white;
      flex-direction: column;
      justify-content: center;
      transition: 0.3s;

      p {
        padding: 20px;
        font-weight: 500;
        margin: 0px;
      }

      button {
        border: 3px solid white;
        background-color: #ffffff00;
        border-radius: 50px;
        width: 50%;
        margin: 0px auto;
        padding: 5px;
        font-size: 1.25rem;
        outline: none;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }

  .ant-card-body {
    padding: 12px;
    .ant-card-meta-title {
      font-size: 1.25rem;
    }
  }
}

.ant-card.project-overview-card.ant-card-hoverable:hover {
  transform: translate(0px, -20px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);

  .hover-cover {
    opacity: 0.9;
  }
}

.contact-methods {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  margin-bottom: 50px;

  a {
    margin: 20px;
    padding: 10px;
  }

  a:nth-child(1) {
    transform: rotate(-7deg);
  }
  a:nth-child(2) {
    transform: rotate(11deg);
  }
  a:nth-child(3) {
    transform: rotate(-13deg);
  }
  a:nth-child(4) {
    transform: rotate(9deg);
  }
}
.contact-card {
  box-shadow: $box-shadow;
  padding: 20px;
}

.contact-card:hover {
  transform: rotate3d(1, 0, 1, 20deg);
}

.nail {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: brown;
  margin: -10px auto 5px auto;
}
.contact-icon {
  width: 55px;
  height: 55px;
}

.about {
  .about-content {
    background-color: $background-gray;
    padding: 100px 0px;

    p {
      margin: auto;
      font-size: 1.25rem;
      font-weight: 600;
      width: 80%;
    }
  }

  .education-and-industry {
    box-shadow: $box-shadow;
    display: flex;
    margin: 0px 5% 100px 5%;
    justify-content: space-around;

    .education,
    .industry {
      flex: 1 1;
      padding: 0 10px 20px 10px;
    }
    .img-wrapper {
      width: 80px;
      height: 80px;
      margin: auto;
      box-shadow: $box-shadow;
      border-radius: 50%;
      padding: 10px;
      position: relative;
      top: -40px;
    }

    .work-title,
    .education-title {
      color: black;
      font-size: 1.25rem;
    }

    .education .img-wrapper {
      background-color: #ffd2a9;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .industry {
      .img-wrapper {
        background-color: #83d6f9;
        img {
          width: 90%;
          height: 90%;
        }
      }
      .work-title {
        text-decoration: underline;
      }
      .work-detail {
        ul {
          width: 80%;
          margin: auto;
          text-align: left;
          font-size: 12px;
        }
      }
    }
  }
}

/*Ant Project Modal*/
.ant-modal.project-detail-modal {
  padding: 0px;
  top: 0;
  background-color: white;
  padding: 8px;

  .back-btn {
    width: fit-content;
    transition: 0.3s;
  }

  .back-btn:hover {
    cursor: pointer;
    color: $design-orange;
    transform: scale(1.5);
  }

  .ant-modal-content {
    height: 100%;
    border-radius: 0px;
    border-bottom: 3px solid $design-orange;
    border-top: 3px solid $design-orange;
  }
  .ant-modal-body {
    height: 100%;
  }
}
